@charset "utf-8";
.popular_right_top_style {
	background-color:#c30d23;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	line-height:42px;
}
.sale_left_top_style {
	background-color: #ff9000;
	color: #362e2b;
	line-height: 44px;
	font-size: 16px;
	font-weight: bold;
}
.sale_left_item_style {
	border-right: 1px dashed #666;
	background-color:#CCF;	
}  
.sale_left_content .sale_left_item_style:nth-child(4) {
	border-right:none;
}
.item_date a {
	color:#362e2b;
	float:left;
}
.item_date p {
	width:85px;
	height:22px;
	overflow:hidden;
	text-align:center;
	font-size:15px;	
	margin:8px 0 1px 0;
}
.item_date span {
	width:85px;
	height:54px;
	overflow:hidden;
	display:block;	
}
.sale_right_style {
	text-align: center;
	background-color: #c30d23;
}
.sale_right h3 {
	color:#ffff00;
	margin-bottom:9px;
	font-size:16px;
}
.sale_right_img {
	height: 143px;
	width: 120px;	
	margin:0 auto;
	display:block;
}
.sale_right_img span {
	width:120px;
	height: 20px;
	display:block;
	margin-top:5px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
