@charset "utf-8";
.ad_bn_wrap {
	width: 1190px;
	height: 130px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.big_bn_wrap {
	width: 1190px;
	height: 377px;	
}
.popular_prod_wrap {
	height: 235px;
	width: 1190px;
	margin-top: 10px;
}
.popular_left {
	background-color:#6FF;
	width:220px;
	height:235px;
	float:left;
	margin-right:10px;
}
.popular_right {	
	width:960px;
	height:235px;
	float:left;
}
.popular_right_top {
	width:950px;
	height:40px;
	float:left;
	padding-left:10px;	
}
.popular_right_content {	
	width:960px;
	height:195px;
	float:left;
}
.popular_right_btn {
	width:158px;
	height:158px;
	float:left;
	margin:16px 10px 0px 19px;
	border:1px solid #CCC;
}
.sale_wrap {
	height: 190px;
	width: 1190px;
	margin-top: 20px;
}
.sale_left {
	height: 190px;
	width: 955px;
	float: left;
}
.sale_left_top {
	height: 40px;
	width: 937px;
	float: left;
	padding-left: 18px;
}
.sale_left_content {
	float: left;
	height: 150px;
	width: 955px;
}
.sale_left_item {
	float: left;
	width: 223px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 120px;
}
.item_img {
	width:120px;
	height:120px;
	float:left;
	margin-right:10px;
}
.item_date {
	width:93px;
	height:120px;
	float:left;
}
.sale_right {
	float: right;
	height: 190px;
	width: 215px;
	/* [disabled]padding-top: 15px; */
}
.tab_wrap {
	height: 647px;
	width: 1190px;
	margin-top: 20px;
}
.ad_bn590_wrap {
	height: 170px;
	width: 1190px;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
}
.ad_bn590 {	
	height: 170px;
	width: 590px;
	float:left;
	background-color:#FF9
}
.ad_bn590_wrap .ad_bn590:nth-child(2) {
	margin-right:0;
	float:right;
}
