@charset utf-8;
img {border:none;}
p {margin:0;}
.zhuanti_box {
	width:1190px;
	height:auto;	
}
#slideBox {
	width:1190px;
	overflow:hidden;
}
#slideBox .J_slide {
	border-top:3px solid #c30d23;
	border-left:3px solid #c30d23;
	border-right:1px solid #ccc;
	
}
#slideBox .J_slide_list {
	width:7140px;
}
#slideBox .J_slide_list .J_slide_item {
	width:1190px;
	height:602px;
	float:left;
}
#slideBox .J_slide_list .J_slide_item img {
	vertical-align:top;
}
#slideBox .J_slide_trigger {
	width:1190px;
	height:45px;
	background:#666; /*menu_bar背景色*/
	margin-top:1px;
}
#slideBox .J_slide_trigger li, .J_slide_trigger a {
	width:198px;
}

#slideBox .J_slide_trigger li {
	float:left;
	height:45px;
	line-height:45px;
	text-align:center;
	_display:inline;
	overflow:hidden;
	
}
#slideBox .J_slide_trigger li:nth-child(1) {width:200px;}
#slideBox .J_slide_trigger li a {
	display: block;
	height: 45px;
	color: #fff;
	font-size: 16px;
}

#slideBox .J_slide_trigger li.cur a, .J_slide_trigger li a:hover {
	color:#FFF;
	background:#c30d23;
	text-decoration:none;
}
.J_slide_advance {
	width: 600px;
	float: left;
	height: 148px;
	margin-top: 1px;
}
.J_slide_advance p {
	width: 196px;
	border-right: 1px solid #ccc;
	float: left;
}
.J_slide_item .slide_left {	
	float: left;
	height: 600px;
	width: 200px;
}

.J_slide_item .slide_mid {	
	height: 600px;
	width: 590px;
	float:left;
}
.J_slide_item .slide_right {	
	height: 600px;
	width: 396px;
	float:left;
	margin-left:3px;
}
.slide_right p {	
	float: left;
	width: 195px;
	margin-right:1px;
	
}


