@charset "utf-8";
.ad_bn_wrap {
	width: 1188px;
	height: 178px;
	margin-top: 20px;
	margin-bottom: 10px;
	/*border:1px solid #583927;*/
	background:#feeedf;
}
.ad_bn_btn {
	width: 158px;
	height: 158px;
	margin: 10px 19px;
	border: 1px solid #CCC;
	float: left;
}
.big_bn_wrap {
	width: 1190px;
	height: 450px;
	margin-top:20px;
}
.mix_content {
	width: 1190px;
	height:390px;
	margin-top:20px;	
	color:#666;
}
.today_wrap {	
	height: 385px;
	width: 186px;
	float:left;
	margin-right:10px;
	border-left:2px solid #F75C03;
	border-right:2px solid #F75C03;
	border-bottom:5px solid #F75C03;
	background:#fcfcf5;
}
.hot_prod_wrap {
	height:180px;
	width: 990px;
	float:left;
}
.sale_king_wrap {	
	height: 180px;
	width: 740px;
	float:left;
	margin:30px 10px 0 0;
}
.last_king_wrap {
	width:240px;
	height:180px;
	width:230;
	float:left;
	margin-top:30px;
}
.tab_wrap {
	height: 520px;
	width: 1190px;
	margin-top: 20px;
}
.ad_bn590_wrap {
	height: 170px;
	width: 1190px;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
}
.ad_bn590 {	
	height: 170px;
	width: 590px;
	float:left;
	background-color:#FF9;
}
.ad_bn590_wrap .ad_bn590:nth-child(2) {
	margin-right:0;
	float:right;
}
